:root {
  --bg-color: #3cb5af;
  --font-color: #1c2d33;
  --colmar-color: #246664;
  --accent-color: #f24d34;
  --lt-color: #defffa;
  --lt-accent-color: #feb4b5;
}

html {
  color: var(--font-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
}

h1 {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
}

h3 {
  padding-bottom: 2rem;
  font-size: 1.1rem;
  letter-spacing: .05rem;
  line-height: 1.5rem;
}

h4 {
  letter-spacing: .03rem;
  line-height: 1.4rem;
}

.container {
  position: relative;
  top: 4rem;
}

.gradient-container {
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0));
}

.positioning::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  transition: opacity .3s linear;
  opacity: 0;
}

/* header section */
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 4rem;
  background-color: var(--bg-color);
  color: var(--colmar-color);
  text-transform: uppercase;
}

header img {
  height: 2.5rem;
  margin-left: 1.5rem;
}

.desktop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.logo {
  flex-grow: 1;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.logo span {
  color: var(--font-color);
  font-weight: 900;
}

#home {
  display: flex;
  align-items: center;
}

nav {
  margin-right: 1.5rem;
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav li:hover {
  text-decoration: underline;
}

.mobile-header {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  margin-right: 1.5rem;
}

/* mobile nav section */
@media only screen and (max-width: 770px) and (min-width: 601px) {
  .desktop-header,
  #home-mobile {
    display: none;
  }

  .mobile-header {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .desktop-header,
  #home {
    display: none;
  }

  .mobile-header,
  #home-mobile {
    display: flex;
  }
}

  /* banner section */
.banner{
  display: flex;
  background: linear-gradient(var(--bg-color), 70%, #297D79);
}

.banner-left {
  flex-basis: 60%;
  padding: 2rem 1.5rem;
}

.banner-left img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.banner-right {
  display: flex;
  flex-basis: 40%;
  margin: auto;
  padding: 2rem 0;
}

.banner-text {
  max-width: 80%;
}

.banner h2 {
  margin: 2rem auto 1.5rem auto;
}

.banner-button {
  padding: 1rem;
  width: 80%;
  border: 0.1em solid var(--bg-color);
  border-radius: 0.15em;
  background-color: var(--font-color);
  color: var(--lt-color);
  font-size: 1.25rem;
  text-align: center;
}

.banner-button:hover {
  border: 0.1em solid var(--lt-color);
  background-color: transparent;
  color: var(--font-color);
  transition: all 0.3s ease;
}

/* mobile banner section */
@media only screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
  }

  .banner-left {
    flex-basis: 100%;
    padding: 0;
  }

  .banner-right {
    flex-basis: 100%;
    padding: 2rem 1rem;
  }

  .banner-text {
    max-width: 100%;
  }

  .banner-button {
    width: auto;
  }
}

/* information section */
.information {
  display: flex;
  padding-top: 1rem;
  background-color: var(--lt-color);
}

.info-left {
  flex-basis: 60%;
  margin: 0 1.5rem;
  padding: 1rem 0 2rem 0;
}

.info-left img {
  width: 100%;
}

.info-left h1 {
  padding: 2rem 0 1.5rem 0;
  font-size: 2.25rem;
  line-height: normal;
}

.info-left span {
  color: var(--accent-color);
  font-size: .9rem;
  font-style: italic;
}

.info-right {
  flex-basis: 40%;
  padding-bottom: 2rem;
}

.info-desktop {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid transparent;
  border-image: linear-gradient(to bottom, #EAFFFA 5%, #3aafa9 100%);
  border-image-slice: 1;
}

.info-item {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.info-item img {
  height: auto;
  width: 35%;
  margin: 1rem;
}

.info-item:hover {
  background-color: var(--bg-color);
}

.info-item-text {
  width: 65%;
  margin: auto;
}

.info-item-text h4 {
  padding: .5rem 0;
}

.info-item-text h4:last-child {
  color: var(--colmar-color);
  font-style: italic;
}

.info-item-text a:hover {
  color: var(--accent-color);
}

.info-mobile {
  display: none;
  flex-direction: column;
  margin: 0 1rem 1rem 1rem;
}

/* mobile information section */
@media only screen and (max-width: 770px) and (min-width: 601px) {
  .info-item-text h2 {
    font-size: 1rem;
    line-height: normal;
  }

  .info-item-text {
    margin-right: .5rem;
    font-size: .8rem;
  }
}

@media only screen and (max-width: 600px) {
  .info-left,
  .info-desktop {
    display: none;
  }

  .info-right {
    flex-basis: 100%;
    padding: 0;
  }

  .info-mobile {
    display: flex;
  }

  .info-item-mobile img {
    position: relative;
    z-index: -2;
    display: flex;
    width: 100%;
  }

  .info-item-mobile div::before {
    background: linear-gradient(to bottom, rgba(0,0,0,0), 50%, rgba(0,0,0,.6));
  }

  .info-item-mobile:hover div::before {
    opacity: 1;
  }

  .info-item-mobile:nth-of-type(2n) {
    margin: 3rem 0;
  }

  .info-item-text {
    margin: 1rem;
  }
}

/* learning section */
.learning {
  background-color: var(--bg-color);
}

.learning h1 {
  padding: 2rem 0;
  text-align: center;
}

.subjects-desktop {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3.5rem;
}

.subject {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ffffff;
  margin: 0 1rem 2rem 1rem;
  cursor: pointer;
}

.subject img {
  height: auto;
  width: 100%;
  opacity: .85;
}

.subject:hover img {
  opacity: 1;
  transition: opacity .3s linear;
}

.subject-text {
  flex-grow: 1;
  min-height: 9rem;
  padding: 1rem 2rem 1.5rem 1rem;
  line-height: 1.5rem;
}

.subject-text::before {
  background: linear-gradient(rgba(255,255,255,0), 85%, var(--lt-accent-color));
}

.subject:hover .subject-text::before{
  opacity: 1;
}

.subject-text h4:first-of-type {
  margin: .5rem 0;
  text-transform: uppercase;
}

.subjects-mobile {
  display: none;
  flex-direction: column;
}

/* mobile subject section */
@media only screen and (max-width: 600px) {
  .learning {
    border-top: 1px solid var(--bg-color);
    padding: 2rem 1rem;
    background-color: #ffffff;
  }

  .learning h1 {
    padding: 0 0 .5rem 0;
  }

  .subjects-desktop {
    display: none;
  }

  .subjects-mobile {
    display: flex;
    cursor: pointer;
  }

  .title-mobile {
    margin-top: .5rem;
    background-color: var(--bg-color);
  }

  .title-mobile:hover {
    color: var(--accent-color);
  }

  .title-mobile h2 {
    padding: 1rem 1rem 1.5rem 1rem;
  }
}

/* thesis section */
.thesis {
  background-color: var(--lt-color);
}

.thesis h1 {
  padding: 2rem 0;
  text-align: center;
}

.thesis-container {
  display: flex;
}

.thesis-left {
  flex-basis: 60%;
  padding: 0 1.5rem 2rem 1.5rem;
}

.thesis-left video {
  width: 100%;
}

.thesis-left-text h2 {
  padding: 1.5rem 0 .5rem 0;
}

.thesis-right {
  flex-basis: 40%;
}

.exhibit {
  display: flex;
  flex-direction: column;
}

.exhibit-item {
  display: flex;
  align-items: flex-start;
}

.exhibit-item img {
  height: auto;
  width: 35%;
  margin: 1rem;
}

.exhibit-item:hover {
  background-color: var(--bg-color);
}

.exhibit-text {
  width: 65%;
  margin: auto;
}

.exhibit-text h2 {
  padding-bottom: .5rem;
}

@media only screen and (max-width: 770px) {
  .thesis {
    border-top: 1px solid var(--bg-color);
  }

  .thesis h1 {
    padding-bottom: 1rem ;
  }

  .thesis-left {
    flex-basis: 100%;
    padding: 0 0 1.5rem 0;
  }

  .thesis-left-text,
  .thesis-right {
    display: none;
  }
}

/* footer section */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: var(--bg-color);
  font-size: .75rem;
}

.footer-content {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
}

.other,
i {
  color: var(--accent-color);
}

@media only screen and (max-width: 770px) {
  .other,
  .content:not(:first-of-type) {
    display: none;
  }

  .footer-content {
    flex-basis: 100%;
  }
}
