html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #5c5c5c;
}

a {
  color: inherit;
}

h1 {
  font-size: 2.75rem;
  font-weight: bold;
  line-height: 3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.5rem;
  letter-spacing: .05rem;
  padding-bottom: 2rem;
}

h4 {
  letter-spacing: .03rem;
}

.container {
  position: relative;
  top: 4rem;
}

/* header section */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  height: 4rem;
}

.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  flex-grow: 1;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.home {
  display: flex;
  align-items: center;
}

header img {
  height: 2.5rem;
  margin-left: 1.5rem;
}

nav {
  margin-right: 1.5rem;
}

nav span {
  padding-left: 1rem;
}

.mobile-header {
  display: none;
}

  /* mobile nav section */
  @media only screen and (max-width: 720px) {
    .desktop-header {
      display: none;
    }

    .mobile-header {
      display: flex;
      justify-content: space-between;
      margin-right: 1.5rem;
      align-items: center;
      height: 4rem;
    }
  }

  /* banner section */
.banner{
  display: flex;
  background-color: #e8e8e8;
}

.banner-left {
  flex-basis: 60%;
  margin: 2rem 1.5rem;
}

.banner-left img {
  width: 100%;
}

.banner-right {
  display: flex;
  flex-basis: 40%;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 4rem 1rem 0;
}

.banner h2 {
  margin: 2rem auto 1.5rem auto;
}

.banner-button {
  background-color: #5c5c5c;
  text-align: center;
  padding: 1rem;
  width: 80%;
  font-size: 1.25rem;
  border: 0.1em solid #e8e8e8;
  border-radius: 0.12em;
  transition: all 0.2s;
  color: white;
}

.banner-button:hover {
  color: black;
  background-color: #e8e8e8;
  border: 0.1em solid #000000;
}

  /* mobile banner section */
  @media only screen and (max-width: 720px) {
    .banner {
      flex-direction: column;
    }

    .banner-left {
      flex-basis: 100%;
      margin: 0;
    }

    .banner-right {
      flex-basis: 100%;
      margin: 2rem 1rem;
    }

    .banner-text {
      padding: 0;
    }

    .banner-button {
      width: auto;
    }
  }

/* information section */
.information {
  display: flex;
}

.info-left {
  flex-basis: 60%;
  margin: 2rem 1.5rem;
}

.info-left img {
  width: 100%;
}

.info-left h1 {
  font-size: 2.25rem;
  margin: 2rem 0 1.5rem 0;
  line-height: normal;
}

.info-left span {
  font-size: .9rem;
  font-style: italic;
}

.info-right {
  flex-basis: 40%;
  border-left: 1px solid #e8e8e8;
  margin: 2rem 0;
}

.info-desktop {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.info-item {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.info-item img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.info-desktop div:first-child img {
  margin-top: 0;
}

.info-item-text {
  width: 65%;
  margin: auto;
}

.info-item-text h4 {
  padding: .5rem 0;
  line-height: 1.4rem;
}

.info-desktop div:nth-of-type(3n) {
  background-color: #e8e8e8;
}

.info-item-text h4:last-child {
  color: blue;
}

.info-mobile {
  display: none;
}

  /* mobile information section */
  @media only screen and (max-width: 720px) {
    .info-left {
      display: none;
    }

    .info-desktop {
      display: none;
    }

    .info-right {
      flex-basis: 100%;
      margin: 0;
    }

    .info-mobile {
      display: flex;
      flex-direction: column;
      margin: 1rem;
    }

    .info-mobile img {
      width: 100%;
    }

    .info-item-mobile:nth-of-type(2n) {
      margin: 3rem 0;
    }

    .info-item-text {
      width: auto;
      margin: 1rem;
    }
  }

/* learning section */
.learning {
  background-color: #e8e8e8;
}

.learning h1 {
  text-align: center;
  padding: 2rem 0;
}

.subjects-desktop {
  padding: 0 3.5rem;
  display: flex;
  flex-wrap: wrap;
}

.subject {
  background-color: #ffffff;
  margin: 0 1rem 2rem 1rem;
  flex: 1 1 30%;
}

.subject img {
  width: 100%;
  height: auto;
}

.subject-text {
  padding: 1rem 2rem 1.5rem 1rem;
  min-height: 9rem;
  line-height: 1.5rem;
}

.subject-text h4:nth-child(2) {
  margin: .5rem 0;
  text-transform: uppercase;
}

.subjects-mobile {
  display: none;
}

  /* mobile subject section */
  @media only screen and (max-width: 720px) {
    .learning {
      background-color: #ffffff;
      border-top: 1px solid #e8e8e8;
      padding: 2rem 1rem;
    }

    .learning h1 {
      padding: 0 0 .5rem 0;
    }

    .subjects-desktop {
      display: none;
    }

    .subjects-mobile {
      display: flex;
      flex-direction: column;
    }

    .title-mobile {
      margin-top: .5rem;
      background-color: #e8e8e8;
    }

    .title-mobile h2 {
      padding: 1rem 1.5rem 1rem 1rem;
    }
  }

/* thesis section */
.thesis h1 {
  text-align: center;
  padding: 2rem 0;
}

.thesis-container {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
}

.thesis-left {
  flex-basis: 60%;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.thesis-left video {
  width: 100%;
}

.thesis-left-text h2 {
  padding: 1.5rem 0 .5rem 0;
}

.thesis-left-text h4 {
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

.thesis-right {
  flex-basis: 40%;
}

.exhibit {
  display: flex;
  flex: 1 auto;
}

.exhibit:first-of-type {
  background-color: #e8e8e8;
}

.exhibit-image {
  flex: 1 35%;
  padding: 1rem;
  min-width: 35%;
}

.exhibit-image img {
  width: 100%;
  height: auto;
}

.exhibit-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 65%;
  align-items: left;
}

.exhibit-text h2 {
  padding-bottom: .5rem;
}

  @media only screen and (max-width: 720px) {
    .thesis {
      border-top: 1px solid #e8e8e8;
    }

    .thesis h1 {
      padding-bottom: 1rem ;
    }

    .thesis-container {
      border: none;
    }

    .thesis-left {
      flex-basis: 100%;
      padding: 0;
    }

    .thesis-left-text {
      display: none;
    }

    .thesis-left video {
      padding-bottom: 1.5rem;
    }

    .thesis-right {
      display: none;
    }
  }

/* footer section */
footer {
  padding: 1rem 1.5rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
}

  @media only screen and (max-width: 720px) {
    .other {
      display: none;
    }
  }
